.color{
    border:0.5px solid black;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 0 5px;
}

.colors{
    display: flex;
    translate: -80px;
}
#red{
    background-color: rgb(144, 85, 85);
}
#aqua{
    background-color: rgb(78, 132, 105);
}
#yellow{
    background-color: rgb(129, 109, 83);
}
#green{
    background-color: rgb(63, 108, 63);
}
#blue{
    background-color: rgb(74, 74, 140);
}
.line{
    height: 10px;
    background-color: white;
}